# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/


*.jks

# iOS
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Firebase
google-services.json
GoogleService-Info.plist

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Keystore files (NEVER commit these!)
*.jks
*.keystore
key.properties
key.properties.template
android/key.properties
android/upload-keystore.jks
